*{box-sizing: border-box;}
:root{
--primaryColor:#9b9194;
  --primaryLight:#ccc1c4;
  --primaryDark:#6d6366;
  --secondayColor:#9b6972;
  --secondaryLight:#cd97a0;
  --secondaryDark:#6c3e47;
}
.template{
  background-color: var(--primaryColor);
  color: var(--secondaryDark);
}
